/* Styles are made to be used with drupal/gin admin theme */

@keyframes flashWikiEntry {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

/* Full width for the project-wiki wrapper inside the GIN container */
.page-wrapper {
  > .layout-container:has(.page-content) {
    margin-inline: 0 !important;
    > .page-content {
      > :not(.region-content) {
        margin-left: min(5vw, var(--gin-spacing-xxl));
        margin-right: min(5vw, var(--gin-spacing-xxl));
      }
    }
  }
}

.project-wiki {
  /* Layout */
  --sidebar-width: 300px;
  --grid-gutter: 1rem;
  --grid-gutter-large: 2rem;
  /* Colors */
  --color-primary: var(--gin-color-primary, #0444c4);
  --color-primary-text: var(--gin-color-text-light, white);
  --color-primary-hover: var(--gin-color-primary-hover, #1455d9);
  --color-primary-light: var(--gin-color-primary-light, #e1eafc);
  --background-color: var(--gin-bg-layer, white);
  --border-color: var(--gin-border-color-layer, #eee);
  /* Misc */
  --border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  .button {
    /* Fix GIN button sizing */
    box-sizing: border-box;
  }
}
.project-wiki__sidebar {
  position: relative;
  padding-bottom: 2rem;
  background: var(--background-color);
  flex: 0 0 auto;
  width: var(--sidebar-width);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.1);
  /* Replicate the GIN toolbar menu styles */
  .menu {
    margin: 0;
    padding: 0;
  }
  .menu-item {
    list-style: none;
    a {
      font-size: var(--gin-font-size, 1em);
      font-weight: 475;
      letter-spacing: -0.0125rem;
      color: var(--gin-color-text, black);
      display: flex;
      align-items: center;
      margin: 0 var(--gin-spacing-xs, 0.25em) 1px;
      padding: var(--gin-spacing-s, 0.5em) var(--gin-spacing-xl) var(--gin-spacing-s, 0.5em) var(--gin-spacing-s, 0.5em);
      border-radius: var(--gin-border-m, 0.5em);
      overflow: hidden;
      transition: width var(--gin-transition, 0.15s linear);
      text-decoration: none;
      &:hover {
        color: var(--color-primary-hover);
        background: var(--gin-color-primary-light);
      }
    }
  }
}
.project-wiki__sidebar-inner {
  position: sticky;
  top: calc(var(--gin-toolbar-y-offset, 0px) + var(--gin-height-sticky, 0px));
  max-height: calc(100vh - var(--gin-toolbar-y-offset, 0px) - var(--gin-toolbar-secondary-height, 0px));
  overflow: auto;
  scrollbar-width: thin;
}
.project-wiki__sidebar-action-links {
  padding: var(--grid-gutter);
  .button {
    width: 100%;
  }
}
.project-wiki__sidebar-sort-filter {
  position: sticky;
  /* top: calc(var(--gin-toolbar-y-offset, 0px) + var(--gin-height-sticky, 0px)); */
  top: 0;
  left: 0;
  padding: var(--grid-gutter);
  background: var(--gin-bg-header);
  color: var(--color-primary-text);
  border-bottom-right-radius: var(--border-radius);
  margin-bottom: 1rem;
  .form-search,
  .form-select {
    border-color: var(--background-color);
    &:hover {
      border-color: var(--background-color);
    }
  }
}
.project-wiki__sidebar-filter {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  .form-search {
    width: 100%;
  }
}
.project-wiki__sidebar-sort {
  display: flex;
  align-items: center;
  gap: 0.5em;
  > label {
    flex: 0 0 auto;
  }
  > .form-select {
    flex: 1 1 auto;
    min-width: 0;
  }
}
.project-wiki__articles {
  flex: 1 1 auto;
  width: calc(100% - var(--grid-gutter) - var(--sidebar-width));
  background: var(--background-color);
}

/* Entries */
.project-wiki-entry {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--border-color);
  padding: var(--grid-gutter-large);
  &:last-child {
    border-bottom: 0 none;
  }
}
.project-wiki-entry--selected {
  animation: flashWikiEntry linear 200ms 1;
  .project-wiki-entry__title {
    color: var(--color-primary);
  }
}
.project-wiki-entry__title {
  margin-top: 0;
}
.project-wiki-entry__metadata {
  display: flex;
  gap: 0.85em;
  margin-top: 2rem;
}
.project-wiki-entry__metadata-item {
  display: flex;
  gap: 0.35em;
  white-space: nowrap;
}
.project-wiki-entry__metadata-item-label {
  font-weight: bold;
}
.project-wiki-entry__metadata-item-value {
  display: inline-flex;
  align-items: center;
  border-radius: 1em;
  background-color: var(--color-primary-light);
  padding: 0.15em 0.5em;
  font-size: small;
  line-height: 1;
}
