{# This is the Fallback & 'full' Template #}
{% set is_wiki_entity = id starts with "modules" %}
{% set classes = [
  'project-wiki-entry',
  ('project-wiki-entry--' ~ view_mode)|clean_class
] %}

{% block entry_outer %}
  <article {{ attributes.setAttribute('id', 'project-wiki-entry-' ~ id).addClass(classes) }}>
    {% block entry_title %}
      {{ title_prefix }}
      {#
      We're using h1 here for now, as this is already withing an article / section
      And otherwise we'd have to transform or limit headings in markdown to get
      a valid tree structure.
      #}
      <h1 {{ title_attributes.addClass(['project-wiki-entry__title', 'list-js-label']) }}>
        {{ title }}
      </h1>
      <div class="project-wiki-entry__subline">

      </div>
      {{ title_suffix }}
    {% endblock entry_title %}
    {% block entry_teaser %}
      {#
        TODO: Where do the rendered fields come from (author, last changed, ...)?
        Its very uncommon for a drupal "content" render array to not have
        fields as children.
      #}
      <div {{ content_attributes.addClass(['project-wiki-entry__teaser', 'list-js-content']) }}>
        {{ content }}
      </div>
    {% endblock entry_teaser %}
    {% block entry_metadata %}
      <div class="project-wiki-entry__metadata">
        {% if category %}
          <div class="project-wiki-entry__metadata-item project-wiki-entry__metadata-item--category">
            <span class="project-wiki-entry__metadata-item-label">{{ 'Category'|t }}:</span>
            <span class="project-wiki-entry__metadata-item-value list-js-category">
              {{ category }}
            </span>
          </div>
        {% endif %}

        {% if isDeveloperContent %}
          {# We only show this, IF it is developer content (and user has access): #}
          <div class="project-wiki-entry__metadata-item project-wiki-entry__metadata-item--developer-content">
            <span class="project-wiki-entry__metadata-item-value list-js-is-dev-content">
                {{ 'Developer Content'|t }}
            </span>
          </div>
        {% endif %}
      </div>
    {% endblock entry_metadata %}
  </article>
{% endblock entry_outer %}
