<section id="project-wiki" class="project-wiki">
  <nav class="project-wiki__sidebar">
    <div class="project-wiki__sidebar-inner">
      <div class="project-wiki__sidebar-sort-filter">
        <div class="project-wiki__sidebar-filter">
          <input type="search" class="list-js-search form-search form-element form-element--type-search" placeholder="Search" name="listjs-search" id="listjs-search">
        </div>
        <div class="project-wiki__sidebar-sort">
          <label>{{ 'Sort by:'|t }}</label>
          <select class="form-select form-element form-element--type-select">
            <option class="list-js-sort-default" value="sort-default" data-sort="list-js-label" selected="selected">{{ 'Default order'|t }}</option>
            <option class="list-js-sort" value="sort-label" data-sort="list-js-label">{{ 'Label'|t }}</option>
            <option class="list-js-sort" value="sort-category" data-sort="list-js-category">{{ 'Category'|t }}</option>
            <option class="list-js-sort" value="sort-is-dev-content" data-sort="list-js-is-dev-content">{{ 'Developer Content'|t }}</option>
          </select>
        </div>
      </div>
      <ul class="menu">
        {# TODO: Needs to be replaced with the new nested array #}
        {% for item in items %}
          <li class="menu-item">
            <a href="#{{ 'project-wiki-entry-' ~ item['#id'] }}">{{ item['#title'] }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <div class="project-wiki__articles list-js-list">
    {{ items }}
  </div>
</section>
